<div>
  <div class="fs-row.gap-sm.wrap.align-start">
    <fs-label-field>
      <fs-label>
        To
      </fs-label>
      {{ data.toRecipients.join(', ') }}
    </fs-label-field>
    <fs-label-field>
      <fs-label>
        From
      </fs-label>
      {{ data.fromName }}
      @if (data.fromEmail) {
        <div class="small">
          {{ data.fromEmail }}
        </div>
      }
    </fs-label-field>
  </div>
  <fs-label-field>
    <fs-label>
      Subject
    </fs-label>
    {{ data.subject }}
  </fs-label-field>
  <fs-html-renderer [html]="data.body"></fs-html-renderer>
</div>