@for (activity of activities; track activity) {
  <div class="activity">
    <div class="header">
      <fs-activity-object-type
        [color]="activity.activityObjectType.color"
        [icon]="activity.activityObjectType.icon">
      </fs-activity-object-type>
      <div>
        <div class="header-description">
          <span class="object-type-name">
            {{ activity.activityObjectType.name }}
          </span>
          @if (activity.action === ActivityAction.ChangeData || activity.action === ActivityAction.ChangeObject) {
            {{ activity.activityType.name }}
        changed
          } @else {
            added
          }
        </div>
        <div class="header-creator small">
          @if (activity.creatorObject) {
            {{ activity.creatorObject.name }}
            &middot;
          }
          <fs-date-ago [date]="activity.createDate"></fs-date-ago>
        </div>
      </div>
      <app-activity-menu
        [activity]="activity"
        [actions]="actions"
        [showDeleteAction]="showDeleteAction"
        (activityDelete)="activityDelete($event)">
      </app-activity-menu>
    </div>
    <div class="content">
      @if (activity.action === ActivityAction.ChangeData) {
        @if (this.activityPreviews[activity.activityType.type]?.showPrevious) {
          <ng-container
            [ngTemplateOutlet]="previousDataPreview"
            [ngTemplateOutletContext]="{ activity: activity }">
          </ng-container>
          <mat-icon class="previous-arrow">
            east
          </mat-icon>
        }
        <ng-container
          [ngTemplateOutlet]="dataPreview"
          [ngTemplateOutletContext]="{ activity: activity }">
        </ng-container>
      } @else if (activity.action === ActivityAction.ChangeObject) {
        @if (this.activityPreviews[activity.activityType.type]?.showPrevious) {
          <ng-container
            [ngTemplateOutlet]="previousObjectPreview"
            [ngTemplateOutletContext]="{ activity: activity }">
          </ng-container>
          <mat-icon class="previous-arrow">
            east
          </mat-icon>
        }
        <ng-container
          [ngTemplateOutlet]="objectPreview"
          [ngTemplateOutletContext]="{ activity: activity }">
        </ng-container>
      } @else if (activity.action === ActivityAction.AddObject) {
        <ng-container
          [ngTemplateOutlet]="objectPreview"
          [ngTemplateOutletContext]="{ activity: activity }">
        </ng-container>
      }
    </div>
  </div>
}
<ng-template
    #objectPreview
    let-activity="activity">
  @if (this.activityPreviews[activity.activityType.type]) {
    <ng-container
      [ngTemplateOutlet]="this.activityPreviews[activity.activityType.type].templateRef"
      [ngTemplateOutletContext]="{ activity: activity, data: activity.concreteActivityObject }">
    </ng-container>
  } @else {
    {{ activity.concreteActivityObject?.name || 'None' }}
  }
</ng-template>
<ng-template
    #dataPreview
    let-activity="activity">
  @if (this.activityPreviews[activity.activityType.type]) {
    <ng-container
      [ngTemplateOutlet]="this.activityPreviews[activity.activityType.type].templateRef"
      [ngTemplateOutletContext]="{ activity: activity, data: activity.activityData }">
    </ng-container>
  } @else {
    {{ activity.activityData || 'None' }}
  }
</ng-template>
<ng-template
    #previousObjectPreview
    let-activity="activity">
  @if (this.activityPreviews[activity.activityType.type]) {
    <ng-container
      [ngTemplateOutlet]="this.activityPreviews[activity.activityType.type].templateRef"
      [ngTemplateOutletContext]="{ activity: activity, data: activity.concretePreviousActivityObject }">
    </ng-container>
  } @else {
    {{ activity.concretePreviousActivityObject?.name || 'None' }}
  }
</ng-template>
<ng-template
    #previousDataPreview
    let-activity="activity">
  @if (this.activityPreviews[activity.activityType.type]) {
    <ng-container
      [ngTemplateOutlet]="this.activityPreviews[activity.activityType.type].templateRef"
      [ngTemplateOutletContext]="{ activity: activity, data: activity.previousActivityData }">
    </ng-container>
  } @else {
    {{ activity.previousActivityData || 'None' }}
  }
</ng-template>