



.activity {
  position: relative;
  padding-left: 30px;

  .header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .header-creator,
    .header-description {
      line-height: normal;
    }

    fs-activity-object-type {
      position: absolute;
      left: 0;
    }

    .object-type-name {
      font-weight: bold;
    }
  }

   + .activity {
    margin-top: 15px;
  }

  .content {
    padding: 10px 0;
    display: flex;
    align-items: center;

    mat-icon {
      margin: 0 8px;
      color: #747474;
      transform: scale(.8);
    }
  }
}

@media (min-width: 800px) {
  .activity:hover {
    ::ng-deep {
      .menu {
        display: block;
      }
    }
  }
}
