<fs-activities [config]="config">
  <!-- <ng-template
      fsActivityPreview
      [activityType]="'crmLeadStatus'"
      [showPrevious]="true"
      let-data="data"
      let-activity="activity">
    !{{ data.name }}!
  </ng-template>
  <ng-template
      fsActivityPreview
      [activityType]="'crmLeadAssigned'"
      [showPrevious]="true"
      let-data="data"
      let-activity="activity">
    {{ data.name }}
  </ng-template>
  <ng-template
      fsActivityPreview
      [activityType]="'crmLeadDate'"
      [showPrevious]="true"
      let-data="data"
      let-activity="activity">
    {{ data | json }}
  </ng-template>
  <ng-template
      fsActivityPreview
      [activityType]="'crmLeadLog'"
      let-data="data"
      let-activity="activity">
    {{ data.notes }}
  </ng-template> -->
  <ng-template
      fsActivityPreview
      [activityType]="'outgoingSms'"
      let-data="data"
      let-activity="activity">
    <div>
      <div class="fs-row.gap-sm.wrap">
        <fs-label-field>
          <fs-label>
            To
          </fs-label>
          {{ data.toNumber }}
        </fs-label-field>
      </div>
      <fs-label-field>
        <fs-label>
          Message
        </fs-label>
        <fs-html-renderer [html]="data.body"></fs-html-renderer>
      </fs-label-field>
    </div>
  </ng-template>
  <ng-template
      fsActivityPreview
      [activityType]="'outgoingEmail'"
      let-data="data"
      let-activity="activity">
    <div>
      <div class="fs-row.gap-sm.wrap">
        <fs-label-field>
          <fs-label>
            From
          </fs-label>
          {{ data.fromName }} ({{ data.fromEmail }})
        </fs-label-field>
        <fs-label-field>
          <fs-label>
            To
          </fs-label>
          {{ data.toRecipients.join(', ') }}
        </fs-label-field>
      </div>
      <fs-label-field>
        <fs-label>
          Subject
        </fs-label>
        {{ data.subject }}
      </fs-label-field>
      <fs-html-renderer [html]="data.body"></fs-html-renderer>
    </div>
  </ng-template>
  <ng-template
      fsActivityPreview
      [activityType]="'objectNote'"
      let-data="data"
      let-activity="activity">
    <div>
      <fs-html-renderer [html]="data.notes"></fs-html-renderer>
    </div>
  </ng-template>
  <ng-template
      fsActivityPreview
      [activityType]="'orderStatus'"
      let-data="data"
      let-activity="activity">
    <div>
      --{{ activity | json }}--
    </div>
  </ng-template>
</fs-activities>